@import 'utilities/normalize';

@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import 'utilities/outer-container'; //Overwriting the outer-container mixin in node-neat, since it can't take the $local-max-width parameter
@import "base/base";

// Bourbon prefix-setting (gulp-autoprefixer is prefixing for us)
$prefix-for-webkit:    false;
$prefix-for-mozilla:   false;
$prefix-for-microsoft: false;
$prefix-for-opera:     false;
$prefix-for-spec:      false;

@import "base/global";

// Utilities
// ---------------------------------------------
@import 'utilities/helpers';


// Modules
// ---------------------------------------------
@import "modules/header";
@import "modules/table-borders";


// Pages
// ---------------------------------------------
@import "pages/index";
@import "pages/styleguide";

// Shame
//@import 'shame';



