/**
*
* Guides List
*
**/


.guides-list {
  overflow: hidden;

  @include medium {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding-top: $base-line-height*2;
  }
}

.guides-list__item {
  padding: 0;
  background: #ffffff;
  margin-top: $base-line-height;
  margin-bottom: 0;

  @include medium {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  h3 {
    margin: 0 32px;
  }

  p {
    margin: $base-line-height 32px 0;
  }

  .primary-content {
    @include medium {
      flex: 1;
    }
  }

  .secondary-content {
    position: relative;
    // background: #f5f5f5;
    margin-top: ($base-line-height*2) - 1;
    border-top: 1px solid $colorGrayKeyline;

    @include medium {
      width: 100%; // needed due to parent being flex
    }

    .icon-circle {
      position: absolute;
      top: -$base-line-height - 2;
      left: 50%;
      margin-left: -21px;
      border: 2px solid #ffffff;

      & i {
        font-size: 23px;
      }
    }
  }

  ol {
    margin: $base-line-height 0 0;
    padding: $base-line-height*2 0 $base-line-height*2;
    margin-top: 0;
  }

  &::before {
    display: none;
  }
}
