button,
input[type="submit"],
.button{
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button--secondary{
  @extend button;
  background-color: $base-button-color--secondary;
  &:hover{
    background-color: $hover-button-color--secondary;
  }
}