@import '../../../bower_components/neat/app/assets/stylesheets/neat-helpers';

$visual-grid: true;
//$visual-grid-color: yellow;
$visual-grid-index: front;
//$visual-grid-opacity: 0.5;

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1088);

// Neat Breakpoints

$first-breakpoint-value: 640px;
$second-breakpoint-value: 860px;

$small-screen: new-breakpoint(max-width em($first-breakpoint-value - 1));
$medium-screen: new-breakpoint(min-width em($first-breakpoint-value) max-width em($second-breakpoint-value));
$large-screen: new-breakpoint(min-width em($second-breakpoint-value + 1px));

$medium-screen-and-up: new-breakpoint(min-width em($first-breakpoint-value));
$medium-screen-and-down: new-breakpoint(max-width em($second-breakpoint-value));