@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

$visual-grid: true;

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1088);

// Neat Breakpoints

$first-breakpoint-value: 640px;
$second-breakpoint-value: 860px;

$small-viewport: new-breakpoint(max-width em($first-breakpoint-value - 1));
$medium-viewport: new-breakpoint(min-width em($first-breakpoint-value) max-width em($second-breakpoint-value));
$large-viewport: new-breakpoint(min-width em($second-breakpoint-value + 1));