
.header {
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $color-primary;
  overflow: hidden;
  z-index: 1;
}

.header .logo {
  padding: 0;
  color: $color-light;
  max-width: none;
  display: initial;
  float: left;
  margin: 0;
}

.header .logo a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.header::after {
  content: ' ';
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}