extends layout/layout

block title
  title Contributor guidelines | ARS ORIENTALIS 

block content
    main
        h1 Contributor guidelines | ARS ORIENTALIS 

        p Ars Orientalis publishes themed issues addressing topics that cross geographic and temporal boundaries of Asian art histories. We welcome proposals for journal topics that are exciting and intellectually adventurous. We also encourage contributions from authors outside of the United States. 
        p If you would like to propose a topic for an issue of the journal, please send a 200–300-word abstract and a list of potential articles and authors to Dr. Nancy Micklewright. You may be invited to submit a more detailed proposal after an initial review of your original submission. Full proposals are reviewed by the journal’s advisory board at its annual meeting each spring.
        p Upon selection of the proposed theme, the guest editor and authors follow a two-year production schedule:
        ul
            li Early March: Articles submitted for blind peer review  
            li Mid- to late summer: Peer review process completed  
            li Late fall: Revised papers submitted 
            li Following January through May: Editing and image collection completed
            li Throughout summer: Journal designed
            li October: Print and online versions released
        p Ars Orientalis is generous with its use of images. Authors are encouraged to submit as many images as needed to support their argument. While the print journal is in black and white, the online version offers high-resolution, zoomable color images, video, and audio content.
        p:| To see our recent and upcoming themed volumes, please visit our 
            a(href='volume-guide.html') volume guide
            | .
        p If you have inquiries related to submitting a proposal, don’t hesitate to contact the journal’s editor-in-chief, Nancy Micklewright, at MicklewrightN@si.edu.




        p
            | Check out the 
            a(href='styleguide.html') Style Guide
            | .

        section.grid-test
            .item
                p Grid
            .item
                p Grid
            .item
                p Grid
            .item
                p Grid
            .item
                p Grid
            .item
                p Grid