extends layout/layout

block title
  title Web Launcher

block content
    main
        h1#hello Hello!
        p Welcome to the Web Launcher.

        section.grid-test
            .item
                p Grid
            .item
                p Grid
            .item
                p Grid
            .item
                p Grid
            .item
                p Grid
            .item
                p Grid