extends layout/layout

block title
  title Stoplinien

block content
    main
        h1#hello Hello!
            p Welcome to Web Starter Kit.
            h2#get-started Get Started.
            p
                | Read how to
                a(href='http://developers.google.com/web/starter-kit') Get Started
                | or check out the
                a(href='styleguide.html') Style Guide
                | .
