extends layout/layout

block title
  title Ordering | ARS ORIENTALIS 

block content
    main
        h1 Ordering | ARS ORIENTALIS

        table
          caption NOW AVAILABLE: order a bundle of print and digital access to Ars Orientalis at a discounted price
            thead
                tr
                    th 
                    th US
                    th International
            tbody
                tr
                    td Individual
                    td $55
                    td $60
                tr
                    td Institution
                    td $65
                    td $80

        table
          caption Digital Only
            thead
                tr
                    th 
                    th US
                    th International
            tbody
                tr
                    td Individual
                    td $40
                    td $40
                tr
                    td Institution
                    td $48
                    td $48

        table
          caption Print only
            thead
                tr
                    th 
                    th US
                    th International
            tbody
                tr
                    td Individual
                    td $48
                    td $55
                tr
                    td Institution
                    td $58
                    td $68

        h2 Order Ars Orientalis Volumes 37-44 
        p Contact Turpin Distribution by phone, e-mail, post, or online. Rates are for one journal. Ars Orientalis is included in JSTOR; volumes are accessible three years after their original publication.

        h3 Canada, Mexico, and the United States: 



        p
            | Check out the 
            a(href='styleguide.html') Style Guide
            | .

        section.grid-test
            .item
                p Grid
            .item
                p Grid
            .item
                p Grid
            .item
                p Grid
            .item
                p Grid
            .item
                p Grid