/**
*
* Articles section
*
**/

.articles-section {
  background: $colorGrayBackground;
  text-align: center;
  padding: $base-line-height 0 $base-line-height*4;
}

.articles-count {
  color: $colorBlue;
  font-family: $fontHighlight;
  font-weight: 400;
}

.article-section__icon {
  top: -($base-line-height);

  @include medium {
    top: -($base-line-height + $base-line-height/2);
  }
}
