/**
*
* In this guide
*
**/

.in-this-guide {
  margin-top: - $base-line-height * 3;
}

.in-this-guide__title {
  @include type--medium(true);
  font-family: $fontHighlight;
  margin-bottom: $base-line-height;
}
